<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
<main class="main-content">
    <div class="page-header-area">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="page-header-content">
                        <nav class="breadcrumb-area">
                            <ul class="breadcrumb">
                                <li>
                                    <a href="/">Trang chủ</a>
                                </li>
                                <li class="breadcrumb-sep">/</li>
                                <li>Tài Khoản</li>
                            </ul>
                        </nav>
                        <h4 class="title">Thông tin cá nhân</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a href="/type1" class="nav-link active" data-toggle="tab" data-target="#list" type="button"
                   role="tab" aria-selected="true" >Hồ sơ cá nhân</a>
                <a href="/type1" class="nav-link " data-toggle="tab" data-target="#list1" type="button"
                   role="tab" aria-selected="false" >Địa chỉ</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list" role="tabpanel">
                <div th:replace="auth/change-info.html"></div>
            </div>
            <div class="tab-pane fade" id="list1" role="tabpanel">
                <div th:replace="auth/adress.html"></div>
            </div>

        </div>
    </div>
</main>
</body>
</html>