<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<style>
	.thumbnail-image img {
		width: 100px;
		height: 100px;
	}
</style>

<body>
		<main class="main-content" th:object="${item}" ng-init="searchDetail()">
		<div class="page-header-area">
			<div class="container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="page-header-content">
							<nav class="breadcrumb-area">
								<ul class="breadcrumb">
									<li>
										<a href="/">Trang chủ</a>
									</li>
									<li class="breadcrumb-sep">/</li>
									<li>Chi tiết sản phẩm</li>
								</ul>
							</nav>
							<h4 class="title">Chi tiết sản phẩm</h4>
						</div>
					</div>
				</div>
			</div>
		</div>

		<section class="product-area product-single-area">
			<div class="container pt-60 pb-0">
				<div class="row">
					<div class="col-12">
						<div class="product-single-item" data-margin-bottom="63">
							<div class="row">
								<div class="col-lg-6">
									<div class="product-thumb">
										<div class="zoom zoom-hover">
											<div class="image-gallery">
												<div class="main-image">
													<a class="lightbox-image" data-fancybox="gallery" th:href="@{|/assets/images/${item.getSanPham().getImage()[0].ma}|}">
														<img id="main-image" class="m-auto d-block my-5" th:src="@{|/assets/images/${item.getSanPham().getImage()[0].ma}|}" alt="Image" />
													</a>
												</div>
												<div class="thumbnail-images">
													<div class="row">
														<div th:each="image, iterStat : ${item.getSanPham().getImage()}" th:if="${!iterStat.first}" class="col-3">
															<a class="thumbnail-image" data-fancybox="gallery" th:href="@{|/assets/images/${image.ma}|}" th:data-index="${iterStat.index}" style="width: 100px;
		height: 100px;">
																<img th:src="@{|/assets/images/${image.ma}|}" alt="Image" style="width: 100px;
		height: 100px;" />
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>





								<div class="col-lg-6">
									<div class="product-single-info">


										<h4 class="title">[[*{SanPham.ten}]]</h4>
										<div class="prices">[[*{ThuongHieu.name}]] <p class="text-success">Số lượng:
											{{p.soLuong}}</p> </div>
										<div class="prices">
											<span class="price">$ {{ p.giaBan | number:2 }}</span>
										</div>
										<div class="prices">Tag: [[*{CoAo.name}]], [[*{LoaiKhachHang.name}]]</div>

										<div class="rating-box-wrap">
											<div class="rating-box">
												<!-- Gọi hàm calculateAverageRating một lần và lưu trữ giá trị vào biến avgRating -->
												<i ng-repeat="star in [].constructor(avgRating) track by $index" class="fa fa-star"></i>
											</div>
										</div>





										<div class="form-group">
											<select class="form-control" name="color" id="color" ng-model="selectedMauSac" ng-change="searchDetail()">
												<option value="" selected>Chọn màu</option>
												<option th:each="color : ${m}" th:value="${color.code}" th:text="${color.name}" ng-selected="color.code === p.mauSac.code"></option>
											</select>

										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="btn-group" data-toggle="buttons">
													<label class="btn btn-light" th:each="size : ${kc}">
														<input type="radio" name="size" th:value="${size.code}" ng-model="selectedKichCo" ng-change="searchDetail()" th:id="${'size' + size.code}"/>
														<span th:text="${size.name}"></span>
													</label>
												</div>
											</div>
										</div>



										<div class="product-action-simple">
											<div class="product-wishlist">
												<a href="javascript:(0);" class="btn-wishlist">Thêm vào yêu thích</a>
												<a class="nav-item" style="padding-left: 80px;color: #0a0a0a;font-size: 12px" href="#"
												   data-bs-toggle="modal" data-bs-target="#sizeGuideModal">
													<u>BẢNG KÍCH CỠ <i class="zmdi zmdi-ruler"></i></u>
												</a>
											</div>
											<div class="payment-button">
												<a th:attr="ng-click=@{|addToCart(p.id)|}" th:href="@{/cart/view}" class="btn-payment">Thêm vào giỏ</a>
											</div>
											<div class="social-sharing">
												<span>Share:</span>
												<div class="social-icons">
													<a href="javascript:(0);">
														<i class="fa fa-facebook"></i>
													</a>
													<a href="javascript:(0);">
														<i class="fa fa-twitter"></i>
													</a>
													<a href="javascript:(0);">
														<i class="fa fa-pinterest"></i>
													</a>
													<a href="javascript:(0);">
														<i class="fa fa-google-plus"></i>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12">
						<div class="product-review-tabs-content">
							<ul class="nav product-tab-nav" id="ReviewTab" role="tablist">
								<li role="presentation">
									<a class="active" id="description-tab" data-bs-toggle="pill" href="#description" role="tab"
										aria-controls="description" aria-selected="true">Mô tả</a>
								</li>
								<li role="presentation">
									<a id="reviews-tab" data-bs-toggle="pill" href="#reviews" role="tab"
									   aria-controls="reviews"
									   aria-selected="false"
									   th:attr="ng-click='showRate(\'' + ${item.getSanPham().getMa()} + '\')'">Đánh
										giá</a>
								</li>
								<li role="presentation">
									<a id="huongdanmuahang" data-bs-toggle="pill" href="#buy" role="tab" aria-controls="huongdanmuahang" aria-selected="false">
										Hướng dẫn mua hàng
									</a>
								</li>
							</ul>
							<div class="tab-content product-tab-content" id="ReviewTabContent">
								<div class="tab-pane fade show active" id="description" role="tabpanel"
										   aria-labelledby="description-tab">
								<div class="product-description">
									<p>[[*{SanPham.MoTa}]]</p>

								</div>
							</div>
								<div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
									<div class="product-review-content">
										<div class="review-content-header">
											<h3>Đánh giá từ khách hàng <i>(Hãy mua hàng ngay để đánh giá sản phẩm)</i>
											</h3>
										</div>
										<div class="row">
											<div class="col-lg-12">
												<br><br>
												<div class="rating-box" ng-repeat="review in reviews ">
													<div class="rating">
														<p style="font-style: italic; font-family: 'Be Vietnam Pro', sans-serif;font-size: 20px">
															{{ review.account.fullname}}</p>
														<p>{{ review.ngayCmt | date:'HH:mm dd-MM-yyyy' }}</p>
														<i class="fa fa-star" style="color: #ffd43b;"
														   ng-repeat="star in [].constructor(review.sao) track by $index"></i>
														<br>
														<span>{{review.comment}}</span>
													</div>
												</div>

											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="buy" role="tabpanel" aria-labelledby="huongdanmuahang">
									<div class="product-buying">
										<p>
											<strong>Hướng dẫn mua hàng</strong>
											<br>
											<strong>HOTLINE Bộ phận bán hàng trực tuyến: 0966861471</strong>
										</p>

										<ol>
											<li>
												<strong>Bước 1: Chọn sản phẩm</strong>
												<ul>
													<li>Click vào “Sản phẩm” để chọn sản phẩm.</li>
													<li>Sử dụng chức năng tìm kiếm sản phẩm để nhanh chóng tìm được sản phẩm ưng ý, vui lòng nhập thông tin vào mục "Tìm kiếm sản phẩm" hộp bên trái.</li>
												</ul>
											</li>

											<li>
												<strong>Bước 2: Quyết định đặt hàng trực tuyến</strong>
												<ul>
													<li>Chọn nút "Giỏ hàng" biểu tượng trong danh sách tất cả các sản phẩm hoặc nút "Đơn hàng" biểu tượng trong chi tiết sản phẩm.</li>
												</ul>
											</li>

											<li>
												<strong>Bước 3: Cập nhật thông tin giỏ hàng</strong>
												<ul>
													<li>Chọn sản phẩm cần mua.</li>
													<li>Chọn nút "Xóa" biểu tượng bên phải nếu bạn muốn xóa sản phẩm đó khỏi giỏ hàng.</li>
													<li>Chọn "Tiếp tục mua" khi bạn muốn thêm một sản phẩm khác vào xe đẩy.</li>
													<li>Chọn “Cập nhật giỏ hàng” để hoàn tất và biết tổng giá trị giỏ hàng.</li>
													<li>“Xác nhận” khi bạn đã hoàn tất việc lựa chọn và đặt hàng để chuyển sang bước tiếp theo.</li>
												</ul>
											</li>

											<li>
												<strong>Bước 4: Xác nhận đơn hàng</strong>
												<ul>
													<li>Đơn hàng đã hoàn thành hiển thị tất cả thông tin sản phẩm, mã sản phẩm đã chọn và tổng giá trị đơn hàng.</li>
													<li>Vui lòng cung cấp đầy đủ thông tin liên hệ để chúng tôi có thể liên hệ và gửi xác nhận đơn hàng cho bạn.</li>
												</ul>
											</li>

											<li>
												<strong>Bước 5: Hoàn tất đơn hàng</strong>
												<ul>
													<li>Khi bạn chọn "Xác nhận", thông tin đơn hàng đã được gửi tới quản trị web.</li>
													<li>Trong vòng 24h chúng tôi sẽ gửi email và liên hệ qua điện thoại để xác nhận đơn hàng (trừ ngày lễ).</li>
												</ul>
											</li>
										</ol>


									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<section class="product-area product-new-arrivals-area product-related-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 m-auto">
						<div class="section-title text-center">
							<h2 class="title">Sản phẩm tương tự</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="swiper-container swiper-slide-gap product-slider-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide" th:each="p:*{thuongHieu.LThuongHieu}">
									<div class="product-item">
										<div class="inner-content">
											<div class="product-thumb">
												<a th:href="@{|/product/detail/${p.id}|}">
													<img class="product-item m-auto d-block" th:src="@{|/assets/images/${p.sanPham.image[0].ma}|}">
												</a>
											</div>
											<div class="product-desc">
												<div class="product-info">
													<h4 class="title">
														<a th:href="@{|/product/detail/${p.id}|}">[[${p.sanPham.ten}]]</a>
													</h4>
													<div class="prices">
														<span class="price">$[[${#numbers.formatDecimal(p.giaBan,0,'COMMA',2,'POINT')}]]</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-button-prev">
								<i class="zmdi zmdi-chevron-left"></i>
							</div>
							<div class="swiper-button-next">
								<i class="zmdi zmdi-chevron-right"></i>
							</div>
						</div>
					</div>
				</div>
			</div>


			<!--modal size-->
			<div class="modal fade" id="sizeGuideModal" tabindex="-1"
				 aria-labelledby="sizeGuideModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="sizeGuideModalLabel" style="text-align: center">HƯỚNG DẪN CHỌN SIZE</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
						</div>
						<div class="modal-body">

							<!-- Size guide content goes here -->


							<img id="image" class="m-auto d-block my-5" src="/assets/img/guidesize.png" alt="Image" />



						</div>
						<div class="modal-footer">
							<!--<button type="button" class="btn btn-secondary"
									data-bs-dismiss="modal">Đóng</button>-->
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<script>
		var images = /*[[${item.getSanPham().getImage()}]]*/ [];
		var currentImageIndex = 0;
		var mainImage = document.getElementById("main-image");
		var thumbnailImages = document.querySelectorAll(".thumbnail-image");

		function displayImage(index) {
			mainImage.src = images[index].ma;
			currentImageIndex = index;
		}

		thumbnailImages.forEach(function(thumbnailImage, index) {
			thumbnailImage.addEventListener("click", function() {
				displayImage(index);
			});
		});

		displayImage(currentImageIndex);
	</script>



</body>
</html>
