<div class="row">
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Chỉnh sửa thông tin</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form for editing -->
                    <form class="form p-3">
                        <!-- Your form fields for editing -->
                        <!-- For example: -->
                        <div class="form-group row">
                            <label class="form-label">Code</label>
                            <input type="text" class="form-control" ng-model="editForm.code" placeholder="Enter code">
                        </div>
                        <div class="form-group row">
                            <label class="form-label">Name</label>
                            <input type="text" class="form-control" ng-model="editForm.name" placeholder="Enter name">
                        </div>
                        <!-- Add other fields as needed -->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="update()">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="row mx-0 bg-white" ng-if="items">

            <table id="datatable-buttons" class="table table-collapse table-bordered dt-responsive">
                <thead>
                <tr>
                    <th>STT</th>
                    <th hidden>Id</th>
                    <th>Mã thương hiệu</th>
                    <th>Tên thương hiệu</th>
                    <th>Trạng thái</th>
                    <th>#</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in items">
                    <td >{{$index+1}}</td>
                    <td hidden >{{item.id}}</td>
                    <td >{{item.code}}</td>
                    <td >{{item.name}}</td>
                    <td class="badges bg-lightgreen" style="color: #f0f0f0">{{item.tt == 0 ?'Hoạt động':'Ngưng hoạt động'}}</td>
                    <td>
                        <div class="btn-group btn-group-xs">
                            <button ng-click="edit(item)" class="btn btn-icon">
                                <i class="fa fa-xs fa-pen"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>


        </div>
        <script src="/assetss/js/init.js"></script>
    </div>


</div>