<html xmlns:th="http://www.thymeleaf.org" th:fragment="dynamic(main)">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon"/>
    <title>DSTORE</title>
    <link th:href="@{assets/css/style.css}" rel="stylesheet"/>
    <link th:href="@{assetss/css/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{assetss/css/used-in-js.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assetss/css/components/pagination/simplePagination.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assetss/css/components/products.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assetss/css/components/product-showcase.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assetss/css/components/shop/filter-bar.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assetss/css/components/shop/product-showing.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assetss/css/components/shop/filter-bar-small.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assetss/css/components/except-home-page.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/plugins/toastr/toatr.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css"/>


</head>
<body ng-app="shopping-app" ng-controller="shopping-ctrl">
<div class="wrapper">
    <div class="preloader-wrap">
        <div class="preloader">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <main class="main-content">
        <div th:replace="/layout/_menu.html"></div>
        <div th:replace="${main}"></div>
    </main>
</div>

<footer class="footer-area" style="margin-top: 80px  ">
    <div class="footer-top-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="widget-item">
                        <div class="about-widget">
                            <div class="footer-logo-area">
                                <a href="index.html">
                                    <img class="logo-main" src="assets/img/logo.png" alt="Logo"/>
                                </a>
                            </div>
                            <ul>
                                <li>
                                    <i class="zmdi zmdi-pin"></i> 132/66/2, Bac Tu Liem, Ha Noi
                                </li>
                                <li>
                                    <i class="zmdi zmdi-email"></i>
                                    <a href="mailto://duynhps18293@fpt.edu.vn">duyspph21810@fpt.edu.vn</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="widget-item widget-item-one">
                        <h4 class="widget-title">INFORMATION</h4>
                        <div class="widget-menu-wrap">
                            <ul class="nav-menu">
                                <li>
                                    <a href="javascript:(0);">Sản phẩm mới</a>
                                </li>
                                <li>
                                    <a href="javascript:(0);">Bán chạy</a>
                                </li>
                                <li>
                                    <a href="javascript:(0);">Cửa hàn</a>
                                </li>
                                <li>
                                    <a href="javascript:(0);">Tài khoản</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="widget-item widget-item-two">
                        <h4 class="widget-title">QUICK LINKS</h4>
                        <div class="widget-menu-wrap">
                            <ul class="nav-menu">
                                <li>
                                    <a href="javascript:(0);">Liên hệ</a>
                                </li>
                                <li>
                                    <a href="javascript:(0);">Help Center</a>
                                </li>
                                <li>
                                    <a href="javascript:(0);">Refund Policy</a>
                                </li>
                                <li>
                                    <a href="javascript:(0);">Report Spam</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="widget-item">
                        <h4 class="widget-title">newsletter</h4>
                        <div class="widget-newsletter">
                            <div class="newsletter-form">
                                <form>
                                    <input type="email" class="form-control" placeholder="email@example.com">
                                    <button class="btn-submit" type="button">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div id="scroll-to-top" class="scroll-to-top">
    <span class="fa fa-angle-double-up"></span>
</div>

<aside class="off-canvas-wrapper">
    <div class="off-canvas-inner">
        <div class="off-canvas-overlay"></div>
        <div class="off-canvas-content">
            <div class="off-canvas-header">
                <div class="close-action">
                    <button class="btn-menu-close">
                        menu <i class="fa fa-chevron-left"></i>
                    </button>
                </div>
            </div>

            <div class="off-canvas-item">
                <div class="res-mobile-menu menu-active-one"></div>
            </div>
        </div>
    </div>
</aside>


<script src="assets/js/jquery-3.6.0.min.js"></script>
<script src="assetss/css/components/pagination/jquery.simplePagination.js"></script>
<script src="assetss/js/shop.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assetss/js/except-home-page.js"></script>
<script src="assetss/js/toastr.min.js"></script>
<script src="assets/js/modernizr.min.js"></script>
<script src="assets/js/jquery-migrate.js"></script>
<script src="assets/js/jquery.slicknav.min.js"></script>
<script src="assets/js/sweetalert2.all.min.js"></script>
<script src="assets/js/jquery-zoom.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/headroom.min.js"></script>
<script src="assets/js/swiper.min.js"></script>
<script src="assets/js/fancybox.min.js"></script>
<script src="assets/js/custom.js"></script>
<script src="assets/js/angular.min.js"></script>
<script src="assets/js/angular-route.min.js"></script>
<script src="assets/js/main.js"></script>
<script src="assets/plugins/toastr/toastr.min.js"></script>

<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
        intent="WELCOME"
        chat-title="GOTD-BOT"
        agent-id="c714fae3-2b1e-4ade-bc2f-b31d82a0eb02"
        language-code="vi"
></df-messenger>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"
        integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!--hiển thị ảnh khi chọn-->
<script th:inline="javascript">

    function previewImage(input) {
        var preview = document.getElementById('previewImage');
        var file = input.files[0];
        var reader = new FileReader();

        reader.onload = function () {
            preview.src = reader.result;
        };

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = "";
        }
    }
</script>
<!--thông báo khio cập nhật tài khoản-->
<script th:inline="javascript">
    var sweetalert = function (text) {
        Swal.fire({
            icon: "success",
            title: text,
            showConfirmButton: false,
            timer: 2000,
        });
    }

    var updateSuccess = [[${updateSuccess}]];
    var udpatefalse = [[${updateFalse}]];

    var userLogin = [[${#request.remoteUser}]]

    if (updateSuccess) {
        // Gọi mã JavaScript để hiển thị cửa sổ nổi
        sweetalert("Cập nhật tài khoản thành công");
    }
    if (udpatefalse) {
        sweetalert("Lỗi khi cập nhật tài khoản");
    }

</script>
<script th:inline="javascript">
    function togglePasswordVisibility() {
        var passwordInput = document.getElementById('password');
        var showPasswordIcon = document.getElementById('showPasswordIcon');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            showPasswordIcon.classList.remove('zmdi-eye');
            showPasswordIcon.classList.add('zmdi-eye-off');
        } else {
            passwordInput.type = 'password';
            showPasswordIcon.classList.remove('zmdi-eye-off');
            showPasswordIcon.classList.add('zmdi-eye');
        }
    }
</script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        $("#sortDropdownBtn").click(function () {
            $("#sortDropdown").toggle();
        });

        $(document).on("click", function (event) {
            if (!event.target.matches("#sortDropdownBtn") && !event.target.matches(".sort-item")) {
                $("#sortDropdown").hide();
            }
        });
    });
</script>
<link rel="stylesheet" type="text/css"
href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>


</body>
</html>