<div class="row mx-0 bg-white" ng-if="items">
    <div class="col-12 py-3">
        <table id="datatable-buttons" class="table table-collapse table-bordered dt-responsive">
            <thead>
            <tr>
                <th>STT</th>
                <th hidden>Id</th>
                <th>Tên giảm giá</th>
                <th>Mã giảm giá</th>
                <th>Sự kiện</th>
                <th>Hình thức giảm</th>
                <th>Ngày bắt đầu</th>
                <th>Ngày kết thúc</th>
                <th>Mức giảm</th>
                <th>Số lượng</th>
                <th>Trạng thái</th>
                <th>#</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items">
                <td>{{$index + 1}}</td>
                <td hidden>{{item.id}}</td>
                <td>{{item.ten}}</td>
                <td>{{item.ma}}</td>
                <td>{{item.sk}}</td>
                <td>{{item.htg == 0 ? 'Giảm phần trăm' : 'Giảm tiền mặt'}}</td>
                <td>{{item.ngayBatDau | date:'dd/MM/yyyy'}}</td>
                <td>{{item.ngayKetThuc | date:'dd/MM/yyyy'}}</td>
                <td>{{item.gtd}}</td>
                <td>{{item.sl}}</td>
                <td>{{item.tt == 0 ? 'Hoạt động' : 'Ngưng hoạt động'}}</td>
                <td>
                    <div class="btn-group btn-group-xs">
                        <button ng-click="edit(item)" class="btn btn-icon">
                            <i class="fa fa-xs fa-pen"></i>
                        </button>
                        <button ng-click="doiTT(item)" class="btn btn-success">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </button>
                        <button ng-click="doiTT2(item)" class="btn btn-danger">
                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- <div class="card-header text-center">
	<button ng-click="pager.first()" class="btn btn-danger">
		<i class="fas fa-arrow-to-left"></i>
	</button>
	<button ng-click="pager.prev()" class="btn btn-primary">
		<i class="fas fa-arrow-left"></i>
	</button>
	<button class="btn btn-success">{{pager.page + 1}} of {{pager.count?pager.count:'1'}}</button>
	<button ng-click="pager.next()" class="btn btn-primary">
		<i class="fas fa-arrow-right"></i>
	</button>
	<button ng-click="pager.last()" class="btn btn-danger">
		<i class="fas fa-arrow-to-right"></i>
	</button>
</div> -->
<script src="/assetss/js/init.js"></script>