<div class="row mx-0 bg-white" ng-if="items">
    <div class="col-12 py-3">
        <table id="datatable-buttons-3" class="table table-collapse table-bordered dt-responsive">
            <thead>
            <tr>
                <th>Id</th>
                <th>Khách hàng</th>
                <th>Ngày đặt hàng</th>
                <th>Mã giảm giá</th>
                <th>Phí giao hàng</th>
                <th>Tổng tiền</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items2">
                <td>{{item.id}}</td>
                <td>{{item.account.username}}</td>
                <td>{{ item.ngayDatHang | date:'mm:HH dd-MM-yyyy' }}</td>
                <td>
                    {{item.maGiamGia ? item.maGiamGia : 'Không có'}}
                </td>
                <td>
                    {{item.phiGiaoHang}}
                </td>
                <td>{{item.tongTien}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

