<div class="row mx-0 bg-white" ng-if="items">
    <div class="col-12 py-3">
        <table id="datatable-buttons3" class="table table-collapse table-bordered dt-responsive">
            <thead>
            <tr>
                <th>Id</th>
                <th>Khách hàng</th>
                <th>Địa chỉ</th>
                <th>Ngày đặt hàng</th>
                <th>Mã giảm giá</th>
                <th>Phí giao hàng</th>
                <th>Tổng tiền</th>
                <th>Duyệt đơn</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items">
                <td class="align-center">{{item.id}}</td>
                <td class="align-center">{{item.account.username}}</td>
                <td class="align-center">{{item.tinh}},{{item.huyen}},{{item.xa}},{{item.dcChiTiet}}</td>
                <td class="align-center">{{item.ngayDatHang}}</td>
                <td class="align-center">
                    {{item.maGiamGia ? item.maGiamGia : 'Không có'}}
                </td>

                <td class="align-center">
                    {{item.phiGiaoHang}}
                </td>
                <td class="align-center">{{item.tongTien}}</td>
                <td class="align-center">
                    <div class="btn-group btn-group-xs">
                        <button ng-click="xacNhan(item)" class="btn btn-icon">
                            <i class="fas fa-check" style="color: #47e10e;"></i>
                        </button>
                        <button ng-click="tuChoi(item)" class="btn btn-danger">
                            <i class="fa fa-xs fa-times"></i>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- <div class="card-header text-center">
	<button ng-click="pager.first()" class="btn btn-danger">
		<i class="fas fa-arrow-to-left"></i>
	</button>
	<button ng-click="pager.prev()" class="btn btn-primary">
		<i class="fas fa-arrow-left"></i>
	</button>
	<button class="btn btn-success">{{pager.page + 1}} of {{pager.count?pager.count:'1'}}</button>
	<button ng-click="pager.next()" class="btn btn-primary">
		<i class="fas fa-arrow-right"></i>
	</button>
	<button ng-click="pager.last()" class="btn btn-danger">
		<i class="fas fa-arrow-to-right"></i>
	</button>
</div> -->
<script src="/assetss/js/init.js"></script>