<div class="row flex-lg-nowrap">
    <div class="col mb-3">
        <div class="e-panel card">
            <div class="card-body">
                <div class="e-table">
                    <div class="table-responsive">
                        <table id="datatable-buttons" class="table dataTable no-footer" ng-if="items">
                            <thead>
                            <tr>
                                <th class="align-top">ID
                                </th>
                                <th>Mã SP</th>
                                <th>Ảnh</th>
                                <th class="sortable">Tên sản phẩm</th>
                                <th>Thương hiệu</th>
                                <th>Loại áo</th>
                                <th>Loại cổ</th>
                                <th>Chất liệu</th>
                                <th>Trạng thái</th>
                                <th>#</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in items">
                                <td>{{item.id}}</td>
                                <td>{{item.ma}}</td>
                                <td style="width: 150px"><img style="width: 120px"
                                       ng-src="/assets/images/{{item.image[0].ma}}">
                                </td>
                                <td>{{item.ten}}</td>
                                <td>{{item.thuongHieu.name}}</td>
                                <td>{{item.loaiKhachHang.name}}</td>
                                <td>{{item.coAo.name}}</td>
                                <td>{{item.chatLieu.name}}</td>
                                <td>
                                    <span ng-if="item.trangThai == 1" class="badges bg-lightred">Ngừng hoạt động</span>
                                    <span ng-if="item.trangThai == 0" class="badges bg-lightgreen">Đang hoạt động</span>
                                </td>
                                <td class="text-center align-middle">
                                    <div class="btn-group align-top">
                                        <button style="color: #0a0a0a" class="btn btn-sm btn-outline-secondary badge"
                                                type="button"
                                                ng-click="editProduct(item)">Edit
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- User Form Modal -->

<div class="modal fade" role="dialog" tabindex="-1" id="product-update-modal">
    <div class="modal-dialog" style="max-width: 85%;"  role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">CHỈNH SỬA THÔNG TIN SẢN PHẨM</h5>
                <button type="button" class="close" data-dismiss="modal" ng-click="reset()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="py-1">
                    <form class="form" novalidate="">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>MÃ SẢN PHẨM</label>
                                    <input type="text" class="form-control" ng-model="selectedProduct.ma" readonly>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>TÊN SẢN PHẨM</label>
                                    <input type="text" class="form-control" ng-model="selectedProduct.ten">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>MÔ TẢ SẢN PHẨM</label>
                                    <textarea class="form-control" ng-model="selectedProduct.moTa"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>THƯƠNG HIỆU</label>
                                    <select class="select form-control" ng-init="brands()"
                                            ng-model="selectedProduct.thuongHieu.code">
                                        <option>Chọn</option>
                                        <option ng-repeat="item in thuonghieu" value="{{item.code}}">{{item.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>CHẤT LIỆU</label>
                                    <select class="select form-control" ng-init="chat()"
                                            ng-model="selectedProduct.chatLieu.code">
                                        <option>Chọn</option>
                                        <option ng-repeat="item in chatlieu" value="{{item.code}}">{{item.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>LOẠI ÁO</label>
                                    <select class="select form-control" ng-init="loai()"
                                            ng-model="selectedProduct.loaiKhachHang.code">
                                        <option>Chọn</option>
                                        <option ng-repeat="item in loaiao" value="{{item.code}}">{{item.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6 col-12">
                                <div class="form-group">
                                    <label>CỔ ÁO</label>
                                    <select class="select form-control" ng-init="cao()"
                                            ng-model="selectedProduct.coAo.code">
                                        <option>Chọn</option>
                                        <option ng-repeat="item in coao" value="{{item.code}}">{{item.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 mt-5">
                                <label class="form-label mb-5">HÌNH ẢNH SẢN PHẨM</label>
                                <div class="row">
                                    <div class="col-3 mr-5 ml-3 mb-5" style="padding-right: 70px;">
                                        <div class="image-upload">
                                            <input id="photo-upload" type="file" multiple onchange="angular.element(this).scope().onFileChange(this)" />
                                            <div class="image-uploads">
                                                <img src="/assetss/img/icons/upload.svg"
                                                        alt="img">
                                                <h4>Nhấp để chọn ảnh</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3" ng-repeat="preview in imagePreviews">
                                        <div class="img-wrap img-upload">
                                            <img class="w-50" ng-src="{{preview}}" alt="Xem trước" />
                                            <span class="btn-danger" ng-click="removeImagePreview($index)"><i class="fa fa-trash"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--CHI TIẾT SẢN PHẨM-->
                            <div class="row">
                                <div class="col-lg-12">
                                    <h4 class="d-flex justify-content-between align-items-center mb-1">
                                        <span class="text-dark">Chi tiết sản phẩm</span>
                                        </button>
                                    </h4>
                                </div>
                                <div class="col-lg-3 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="kichCo">Kích cỡ</label>
                                            <select id="kichCo" class="form-control" ng-init="size()"
                                                    ng-model="selecteDetail.kichCo.code">
                                                <option>Chọn</option>
                                                <option ng-repeat="item in kichco" value="{{item.code}}">{{item.name}}
                                                </option>
                                            </select>
                                        </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="mauSac">Màu sắc</label>
                                            <select id="mauSac" class="form-control" ng-init="mau()"
                                                    ng-model="selecteDetail.mauSac.code">
                                                <option>Chọn</option>
                                                <option ng-repeat="item in color" value="{{item.code}}">{{item.name}}
                                                </option>
                                            </select>
                                        </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="soLuong">Số lượng</label>
                                            <input id="soLuong" type="text" class="form-control"
                                                   ng-model="selecteDetail.soLuong">
                                        </div> </div>
                                <div class="col-lg-3 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="giaNhap">Giá nhập</label>
                                            <input id="giaNhap" type="text" class="form-control"
                                                   ng-model="selecteDetail.giaNhap">
                                        </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 col-12">
                                        <div class="form-group">
                                            <label for="giaBan">Giá bán</label>
                                            <input id="giaBan" type="text" class="form-control"
                                                   ng-model="selecteDetail.giaBan">
                                        </div>
                                </div>

                                <div class="col-lg-12">
                                    <a href="javascript:void(0);" class="btn btn-submit me-2"
                                       ng-click="update()">Lưu</a>
                                    <a class="btn btn-cancel" ng-click="reset()">Hủy</a>
                                </div>
                                <br><br>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="row flex-lg-nowrap">
                    <div class="col mb-3">
                        <div class="e-panel card">
                            <div class="card-body">
                                <div class="e-table">
                                    <div class="table-responsive">
                                        <table id="datatable-buttons" class="table dataTable no-footer" ng-if="selectedProduct.ctsp">
                                            <thead>
                                            <tr>
                                                <th class="align-top">ID
                                                </th>
                                                <th>Size</th>
                                                <th>Màu</th>
                                                <th>Số lượng</th>
                                                <th>Gía bán</th>
                                                <th>Gía nhập</th>
                                                <th>Trạng thái</th>
                                                <th>#</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="item in selectedProduct.ctsp">
                                                <td>{{item.id}}</td>
                                                <td>{{item.kichCo.name}}</td>
                                                <td>{{item.mauSac.name}}</td>
                                                <td>{{item.soLuong}}</td>
                                                <td>{{item.giaBan}}</td>
                                                <td>{{item.giaNhap}}</td>
                                                <td>
                                                    <span ng-if="item.trangthai === 1" class="badges bg-lightred">Ngừng hoạt động</span>
                                                    <span ng-if="item.trangthai === 0" class="badges bg-lightgreen">Đang hoạt động</span>
                                                </td>
                                                <td class="text-center align-middle">
                                                    <div class="btn-group align-top">
                                                        <button style="color: #0a0a0a" class="btn btn-sm btn-outline-secondary badge" type="button"
                                                                ng-click="editDetail(item)">Edit
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>