<div class="page-content-wrapper ">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="page-title-box">
					<div class="btn-group float-right">
						<ol class="breadcrumb hide-phone p-0 m-0">
							<li class="breadcrumb-item">
								<a href="#">Julie</a>
							</li>
							<li class="breadcrumb-item active">Dashboard</li>
						</ol>
					</div>
					<h4 class="page-title">Dashboard</h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-3">
						<div class="card">
							<div class="card-body">
								<div class="icon-contain">
									<div class="row">
										<div class="col-2 align-self-center">
											<i class="fas fa-tasks text-gradient-success"></i>
										</div>
										<div class="col-10 text-right">
											<h5 class="mt-0 mb-1">{{soLuongSanPham}}</h5>
											<p class="mb-0 font-12 text-muted">Sản phẩm</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="card">
							<div class="card-body justify-content-center">
								<div class="icon-contain">
									<div class="row">
										<div class="col-2 align-self-center">
											<i class="far fa-gem text-gradient-danger"></i>
										</div>
										<div class="col-10 text-right">
											<h5 class="mt-0 mb-1">{{soLuongDon}}</h5>
											<p class="mb-0 font-12 text-muted">Dơn hàng</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="card">
							<div class="card-body">
								<div class="icon-contain">
									<div class="row">
										<div class="col-2 align-self-center">
											<i class="fas fa-users text-gradient-warning"></i>
										</div>
										<div class="col-10 text-right">
											<h5 class="mt-0 mb-1">{{soLuongTaiKhoan}}</h5>
											<p class="mb-0 font-12 text-muted">Tài khoản</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="card ">
							<div class="card-body">
								<div class="icon-contain">
									<div class="row">
										<div class="col-2 align-self-center">
											<i class="fas fa-database text-gradient-primary"></i>
										</div>
										<div class="col-10 text-right">
											<h5 class="mt-0 mb-1">{{doanhHientai}} VNĐ</h5>
											<p class="mb-0 font-12 text-muted">Doanh thu</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row" >
			<div class="col-lg-3">
				<h2>Doanh thu</h2>
				<div class="card">
					<div class="card-body">
						<div>
							<label class="form-label">Chọn năm:</label>
							<select class="form-control" id="selectedYear" ng-model="selectedYear"
									ng-options="year for year in years" ng-change="getDoanhThuThang(selectedYear)">
							</select>
							<br>
							<button class="btn btn-primary" ng-click="exportDoanhThuThangToExcel()">Xuất Excel</button>
							<br>
							<label class="form-label" >Chọn ngày bắt đầu:</label>
							<input class="form-control" type="date" ng-model="sevenDaysAgo">

							<label class="form-label">Chọn ngày kết thúc:</label>
							<input class="form-control" type="date" ng-model="currentDate">
							<br>
							<button class="btn btn-primary" ng-click="xemTheoKhoang()">Xem Doanh Thu</button>
					</div>
				</div>
			  </div>
				<div class="card" ng-show="showDateRange">
					<div class="card-body">
						<span>Doanh thu từ ngày {{formattedStartDate}} đến ngày {{formattedEndDate}}: <b>{{doanhThuKhoangThoiGian}} VNĐ</b></span>
					</div>
				</div>
			</div>
			<div class="col-xl-9 " >
				<div class="card">
					<div class="card-body">

						<h5 class="header-title mb-4 mt-0">Doanh thu năm:{{selectedYear}}</h5>
						<canvas id="barChart" width="200" height="100"></canvas>
						<br>
						<p style="text-align: center;font-size: 20px">Biểu đồ thể hiện doanh thu các tháng trong năm {{selectedYear}} </p>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
						<canvas id="myLineChart" width="400" height="200"></canvas>
					</div>
				</div>
			</div>
		</div>


<!--		<table class="table">-->
<!--			<thead>-->
<!--			<tr>-->
<!--				<th scope="col">#</th>-->
<!--				<th scope="col">Ảnh</th>-->
<!--				<th scope="col">Mã sản phẩm</th>-->
<!--				<th scope="col">Tên sản phẩm</th>-->
<!--				<th scope="col">Số lượng bán ra</th>-->
<!--				<th scope="col">Doanh thu</th>-->
<!--			</tr>-->
<!--			</thead>-->
<!--			<tbody>-->
<!--			<tr>-->

<!--			</tr>-->
<!--			</tbody>-->
<!--		</table>-->
<h2 style="text-align: center">Thống kê sản phẩm</h2>
		<br>
		<table class="table" style="text-align: center">
			<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Ảnh</th>
				<th scope="col">Mã sản phẩm</th>
				<th scope="col">Tên sản phẩm</th>
				<th scope="col">Số lượng bán ra</th>
				<th scope="col">Doanh thu</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="item in tkSPTuan">
				<td>{{$index + 1}}</td>
				<td><img ng-src="{{item[0]}}" width="50" height="50"></td>
				<td>{{item[1]}}</td>
				<td>{{item[2]}}</td>
				<td>{{item[3]}}</td>
				<td>{{item[4]}}</td>
			</tr>
			</tbody>
		</table>
	</div>
	</div>
