<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
	<main class="main-content">
		<section class="product-area product-information-area">
			<div class="container">
				<div class="product-information">
					<div class="row">
						<div class="edit-checkout-head">
							<div class="breadcrumb-area">
								<ul>
									<li>
										<a class="active" href="cart.html">Giỏ hàng</a>
										<i class="fa fa-angle-right"></i>
									</li>
									<li>Thanh toán</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="edit-checkout-information">

								<div class="edit-checkout-form">
									<div class="row row-gutter-12">
										<div class="col-lg-6">
											<div class="form-floating">
												<span class="form-control" style="line-height: 2.25;" id="username" ng-model="gioHang.account.username">[[${#request.remoteUser}]]</span>
												<label>Tên tài khoản</label>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-floating">
												<input class="form-control" ng-model="gioHang.soDienThoai" value="{{$auth.user.soDienThoai}}" style="line-height: 2.25;">
												<label>Số Điện Thoại <sup class="text-danger">*</sup> </label>
												<div ng-show="checkoutForm.soDienThoai.$invalid && checkoutForm.soDienThoai.$dirty">
													<span style="color: #ff0000;">Số Điện Thoại là trường bắt buộc.</span>
												</div>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-floating">
												<span class="form-control" style="line-height: 2.25;">{{$auth.user.fullname}}</span>
												<label>Tên khách hàng</label>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-floating">
												<span class="form-control" ng-model="gioHang.ngayDatHang" style="line-height: 2.25;" th:value="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}" th:text="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}"> </span>
												<label>Ngày đặt</label>
											</div>
										</div>
											<div class="row ">
											<div class="col-lg-4">
											<label class="form-label" style="font-size: 14px;">Tỉnh-Thành phố<sup class="text-danger">*</sup></label>
											<select class="form-control" id="thanhpho" ng-model="thanhpho" name="thanhpho" ng-change="changeThanhPho()" >
											</select>
										</div>
											<div class="col-lg-4">
												<label class="form-label" style="font-size: 14px;">Quận-Huyện<sup class="text-danger">*</sup></label>
												<select  class="form-control" id="huyen" ng-model="huyen" name="huyen" ng-change="changeHuyen()" >
													<option value="" >Chọn quận</option>
												</select>
											</div>
											<div class="col-lg-4">
												<label class="form-label" style="font-size: 14px;">Phường-Xã<sup class="text-danger">*</sup></label>
												<select class="form-control" id="xa" ng-model="xa"  name="xa" ng-change="changeXa()" >
													<option value="" >Chọn phường</option>
												</select>
											</div>

											<p id="result"></p></div>
										<div class="col-lg-12" style="margin-top: 10px">
											<div class="form-floating">
												<input type="text" class="form-control"  placeholder="address" ng-model="gioHang.dcChiTiet" >
												<label>Nhập địa chỉ chi tiết<sup class="text-danger">*</sup></label>
											</div>
										</div>

										<div class="col-lg-12">

<!--												<input type="text" class="form-control"  placeholder="address" ng-model="gioHang.maGiamGia" >-->
												<select class="form-control" ng-model="gioHang.maGiamGia" >
													<option value="" selected >Mã giảm giá</option>
													<option th:each="dis : ${mgg}" th:value="${dis.ma}"  th:text="${dis.ma+ ' - Giá trị: ' + dis.gtd + ' - Số lượng: ' + dis.sl}"></option>
												</select>


										</div>
<!--										<div class="col-12">-->
<!--											<div class="titel-ptgiao-hang" style="background-color: #f1f1f1;margin: 20px 0px 20px 0px;padding: 5px 20px 5px 20px;">-->
<!--												<p style="color: black; font-size: 23px; font-weight: 700">PHƯƠNG THỨC THANH TOÁN</p>-->
<!--											</div>-->
<!--											<div class="row" style="padding: 0; margin: 0">-->
<!--												<div class="col-sm-2">-->
<!--													<input class="form-check-input" type="radio" name="Paymentmethods" value="" aria-label="Checkbox for following text input">-->
<!--												</div>-->
<!--												<div class="col-sm-10">-->
<!--													<p style="color: black">Thanh toán trực tiếp khi giao hàng</p>-->
<!--												</div>-->
<!--											</div>-->
<!--											<div class="row" style="padding: 0; margin: 0">-->
<!--												<div class="col-sm-2">-->
<!--													<input class="form-check-input" type="radio" name="Paymentmethods" value="" aria-label="Checkbox for following text input">-->
<!--												</div>-->
<!--												<div class="col-sm-10">-->
<!--													<p style="color: black">Thanh toán bằng Thẻ quốc tế / Thẻ nội địa / QR Code</p>-->
<!--												</div>-->
<!--											</div>-->
<!--											<div class="row" style="padding: 0; margin: 0">-->
<!--												<div class="col-sm-2">-->
<!--													<input class="form-check-input" type="radio" name="Paymentmethods" value="" aria-label="Checkbox for following text input">-->
<!--												</div>-->
<!--												<div class="col-sm-10">-->
<!--													<p style="color: black">Thanh toán bằng ví MoMo</p>-->
<!--												</div>-->
<!--											</div>-->
<!--										</div>-->
										<div class="col-12" style="margin-top: 20px">
											<div class="btn-box">
												<button class="btn-shipping" ng-click="gioHang.purchase()">Xác nhận</button>
												<a class="btn-return" th:href="@{/cart/view}">Giỏ hàng</a>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="col-lg-5">
							<div class="shipping-cart-subtotal-wrapper">
								<div class="shipping-cart-subtotal">
									<div class="shipping-cart-item" ng-repeat="item in cartItems">
										<div class="thumb">
											<img src="assets/images/{{item.chiTietSanPham.sanPham.image[0].ma}}">
											<span class="quantity">{{item.soLuong}}</span>
										</div>
										<div class="content">
											<h4 class="title">{{item.sanPham.ten}}</h4>
											<span class="info">{{item.donGia | number:2}}</span>
											<span class="price">{{item.soLuong * item.donGia}}</span>
										</div>
									</div>
									<div class="shipping-subtotal">
										<p>
											<span>Đơn hàng</span>
											<span>
												<strong>{{getSubtotal()}}</strong>
											</span>
										</p>
										<p>
											<span>Tiền giảm</span>
											<span>
												<strong></strong>
											</span>
										</p>
										<p>
											<span>Shipping</span>
											<span>Calculated at next step</span>
										</p>
									</div>
									<div class="shipping-total">
										<p class="total">Tổng cộng</p>
										<p class="price">
											<span class="usd">VND</span>
											{{getTotalMoney()}}
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</section>
	</main>

</body>

</html>
