<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
<main>
	<section class="home-slider-area">
		<div class="swiper-container swiper-slide-gap home-slider-container default-slider-container">
			<div class="swiper-wrapper home-slider-wrapper slider-default">
				<div class="swiper-slide">
					<div class="slider-content-area" data-bg-img="assets/img/slider/slider-04.png">
						<div class="slider-content">
							<h5 class="sub-title">GIÁ TỐT : $866</h5>
							<h2 class="">SẢN PHẨM MỚI</h2>
							<h4>70% GIẢM GIÁ CHO FA</h4>
							<p>There are many variations of passages of Lorem Ipsum availables, but the majority have
								suffered alteration in some form.</p>
							<a class="btn-slider" href="/shop">Shop Now</a>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="slider-content-area" data-bg-img="assets/img/slider/slider-02.png">
						<div class="slider-content">
							<h5 class="sub-title">GIÁ TỐT : $866</h5>
							<h2 >SẢN PHẨM MỚI</h2>
							<h4>70% GIẢM GIÁ CHO FA</h4>
							<p>There are many variations of passages of Lorem Ipsum availables, but the majority have
								suffered alteration in some form.</p>
							<a class="btn-slider" href="/shop">Shop Now</a>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-button-next">
				<i class="zmdi zmdi-chevron-right"></i>
			</div>
			<div class="swiper-button-prev">
				<i class="zmdi zmdi-chevron-left"></i>
			</div>
		</div>
	</section>

	<div class="container">
		<section class="product-area">
			<div class="container product-pb" data-padding-bottom="25">
				<div class="row">
					<div class="col-12">
						<div class="row">
							<div class="col-lg-7 m-auto">
								<div class="section-title text-center">
									<h2 class="title">Sản phẩm mới</h2>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3" th:each="p:${items}">
								<div class="product-item">
									<div class="inner-content">
										<div class="product-thumb">
											<a th:href="@{|/product/detail/${p.id}|}">
												<img class="product-item m-auto d-block" th:src="@{|/assets/images/${p.sanPham.getImage().get(0).ma}|}"
													 th:title="${p.sanPham.ten}">
											</a>
											<div class="product-action">
												<div class="addto-wrap">
													<a class="add-wishlist" href="javascript:(0);">
														<i class="zmdi zmdi-favorite-outline zmdi-hc-fw icon"></i>
													</a>
													<a class="add-cart" th:href="@{|/product/detail/${p.id}|}"
													   th:attr="ng-click=@{|cart.add(${p.id})|}">
													<i class="zmdi zmdi-shopping-cart-plus icon"></i>
													</a>
												</div>
											</div>
										</div>
										<div class="product-desc">
											<div class="product-info">
												<h4 class="title">
													<a th:href="@{|/product/detail/${p.id}|}">[(${p.sanPham.ten})]</a>
												</h4>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="row">
			<div class="col-12">
				<div class="pagination-content-wrap border-bottom">
					<nav class="pagination-nav">
						<ul class="pagination justify-content-center">
							<li>
								<button class="prev" ng-click="pager.first()">First</button>
							</li>
							<li>
								<button class="prev" ng-click="pager.prev()">
									<i class="fa fa-chevron-left"></i>
								</button>
							</li>
							<li>
								<a class="active">{{pager.page+1}} of {{pager.count?pager.count:'1'}}</a>
							</li>
							<li>
								<button class="next" ng-click="pager.next()">
									<i class="fa fa-chevron-right"></i>
								</button>
							</li>
							<li>
								<button class="next" ng-click="pager.last()">Last</button>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

		<section class="feature-area">
			<div class="container pb-1">
				<div class="row">
					<div class="col-md-6 col-lg-4">
						<div class="feature-icon-box">
							<div class="inner-content">
								<div class="icon-box">
									<i class="icon zmdi zmdi-pin"></i>
								</div>
								<div class="content">
									<h5 class="title">Miễn phí giao hàng nội thành</h5>
									<p>Miễn phí giao hàng cho đơn từ 1000k</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="feature-icon-box">
							<div class="inner-content">
								<div class="icon-box">
									<i class="icon zmdi zmdi-headset"></i>
								</div>
								<div class="content">
									<h5 class="title">Hỗ trợ 24/7</h5>
									<p>Kết nối với chúng tôi 24/24</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="feature-icon-box">
							<div class="inner-content mb-0">
								<div class="icon-box">
									<i class="icon zmdi zmdi-card"></i>
								</div>
								<div class="content">
									<h5 class="title">Bảo mật thông tin thanh toán</h5>
									<p>Thông tin của bạn được bảo vệ bởi chúng tôi</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</div>
</main>
</body>
</html>