<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<head>
    <title>Sản phẩm</title>
</head>

<body>

<main id="main-content">
    <!-- Breadcrumb -->
    <div class="breadcrumb container">
        <a class="previous-page" href="/">Trang chủ</a>
        <i class="fas fa-chevron-right arrow"></i>
        <span class="current-page">Sản phẩm</span>
    </div>
    <!-- Main content -->
    <div class="shop-content-wrapper container">
        <div class="row">
            <!-- Filter -->
            <div class="filter-bar col-lg-3">
                <div class="filter-header content">
                    <div class="left-side d-flex align-items-center"><i class="fas fa-sliders-h"></i>
                        <div class="text">Lọc</div>
                    </div>
                    <button class="clear-filter btn btn-primary" disabled="disabled">Bỏ lọc</button>
                </div>
                <div class="break-line"></div>

                <!-- Brand -->
                <div class="brand content">
                    <div class="title" data-toggle="collapse" href="#brand-collapse" role="button" aria-expanded="false"
                         aria-controls="brand-collapse">
                        <div class="text">Thương hiệu</div>
                        <i class="zmdi zmdi-chevron-up"></i>
                    </div>
                    <div class="select-filter collapse show" id="brand-collapse">
                        <th:block th:each="brand : ${brands}">
                            <div class="item">
                                <div class="pretty p-svg p-curve">
                                    <input class="filter-checkbox check-brand" type="checkbox" th:value="${brand.id}"/>
                                    <div class="state p-success">
                                        <svg class="svg svg-icon" viewbox="0 0 20 20">
                                            <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                                                  style="stroke: white;fill:white;"></path>
                                        </svg>
                                        <label class="checkbox-label" th:text="${brand.name}"></label>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
                <div class="break-line"></div>

                <!-- Category -->
                <div class="category content">
                    <div class="title" data-toggle="collapse" href="#categories-collapse" role="button"
                         aria-expanded="false" aria-controls="categories-collapse">
                        <div class="text">Danh mục</div>
                        <i class="zmdi zmdi-chevron-up"></i>
                    </div>
                    <div class="select-filter collapse show" id="categories-collapse">
                        <th:block th:each="category : ${categories}">
                            <div class="item">
                                <div class="pretty p-svg p-curve">
                                    <input class="filter-checkbox check-category" type="checkbox"
                                           th:value="${category.id}"/>
                                    <div class="state p-success">
                                        <svg class="svg svg-icon" viewbox="0 0 20 20">
                                            <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                                                  style="stroke: white;fill:white;"></path>
                                        </svg>
                                        <label class="checkbox-label" th:text="${category.name}"></label>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
                <div class="break-line"></div>

                <!-- Size -->
                <div class="size content">
                    <div class="title" data-toggle="collapse" href="#size-collapse" role="button" aria-expanded="false"
                         aria-controls="size-collapse">
                        <div class="text">Size</div>
                        <i class="zmdi zmdi-chevron-up"></i>
                    </div>
                    <div class="select-filter collapse show" id="size-collapse">
                        <th:block th:each="size : ${sizeVn}">
                            <div class="item check-size" th:data-id="${size}" th:text="${size.name}"></div>
                        </th:block>
                    </div>
                </div>
                <div class="break-line"></div>

                <!-- Price -->
                <div class="price-range content">
                    <div class="title">
                        <div class="text">Khoảng gi&aacute;</div>
                    </div>
                    <input class="form-control price-input" id="from-price" type="text" placeholder="Từ"
                           onkeypress="return priceInputValidate(event)"/>
                    <input class="form-control price-input" id="to-price" type="text" placeholder="Đến" pattern="[0-9]"
                           onkeypress="return priceInputValidate(event)"/>
                    <button class="btn btn-primary apply-price red-btn" id="apply-price-web">Áp dụng</button>
                </div>
            </div>

            <!-- List product -->
            <div class="product-showing col-lg-9 col-12">
                <div class="sort">
                    <div class="filter-icon" data-toggle="modal" data-target="#filterModal"><i
                            class="fas fa-filter"></i></div>
                </div>
                <div class="no-products">
                    <img th:src="@{assetss/img/noresult.png}" alt="noresult.png">
                    <h4>Không tìm thấy sản phẩm phù hợp</h4>
                </div>
                                <div class="row">
                                    <div class="col-md-4" th:each="p:${items}">
                                        <div class="product-item">
                                            <div class="inner-content">
                                                <div class="product-thumb">
                                                    <a th:href="@{|/product/detail/${p.id}|}">
                                                        <img class="product-item m-auto d-block" th:src="@{|/assets/images/${p.sanPham.getImage().get(0).ma}|}"
                                                             th:title="${p.sanPham.ten}">
                                                    </a>
                                                    <div class="product-action">
                                                        <div class="addto-wrap" th:each="a:${favorite}">
                                                            <!-- Hiển thị nút "remove" -->
                                                            <a class="add-wishlist" href="javascript:void(0)"
                                                               th:if="${a.sanPham == p.sanPham.ma && a.accounts == #request.remoteUser}"
                                                               th:attr="ng-click='removeFavorite(\'' + ${p.sanPham.ma} + '\', username)'">
                                                                <i class="zmdi zmdi-favorite" style="color: #a52834"></i>
                                                            </a>

                                                            <!-- Nếu sản phẩm chưa có trong danh sách yêu thích, hiển thị nút "Thêm vào yêu thích" -->
                                                            <a class="add-wishlist"  href="javascript:void(0)"
                                                               th:if="${a.accounts != #request.remoteUser}"
                                                               th:attr="ng-click='addFavorite(\'' + ${p.sanPham.ma} + '\', user1)'">
                                                                <i class="zmdi zmdi-favorite-outline zmdi-hc-fw icon"></i>
                                                            </a>
                                                            <a class="add-cart" th:href="@{|/product/detail/${p.id}|}"
                                                               th:attr="ng-click=@{|cart.add(${p.id})|}">
                                                                <i class="zmdi zmdi-shopping-cart-plus icon"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-desc">
                                                    <div class="product-info">
                                                        <h4 class="title">
                                                            <a th:href="@{|/product/detail/${p.id}|}">[(${p.sanPham.ten})]</a>
                                                        </h4>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                </div>
                <br>
                <!-- Pagination -->
                <nav aria-label="Page navigation">
                    <ul class="pagination" id="pagination"></ul>
                </nav>
            </div>
        </div>
    </div>

    <!-- Modal filter -->
    <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterModalLabel">Lọc sản phẩm</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="filter-bar small-size">
                        <!-- Brand -->
                        <div class="brand content">
                            <div class="title" data-toggle="collapse" href="#brand-collapse-1" role="button"
                                 aria-expanded="false" aria-controls="brand-collapse">
                                <div class="text">Thương hiệu</div>
                                <i class="fas fa-chevron-up"></i>
                            </div>
                            <div class="select-filter collapse show" id="brand-collapse-1">
                                <th:block th:each="brand : ${brands}">
                                    <div class="item">
                                        <div class="pretty p-svg p-curve">
                                            <input class="filter-checkbox check-brand checkbox-mobile" type="checkbox"
                                                   th:value="${brand.id}"/>
                                            <div class="state p-success">
                                                <svg class="svg svg-icon" viewbox="0 0 20 20">
                                                    <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                                                          style="stroke: white;fill:white;"></path>
                                                </svg>
                                                <label class="checkbox-label" th:text="${brand.name}"></label>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                        <div class="break-line"></div>

                        <!-- Category -->
                        <div class="category content">
                            <div class="title" data-toggle="collapse" href="#categories-collapse-1" role="button"
                                 aria-expanded="false" aria-controls="categories-collapse">
                                <div class="text">Danh mục</div>
                                <i class="fas fa-chevron-up"></i>
                            </div>
                            <div class="select-filter collapse show" id="categories-collapse-1">
                                <th:block th:each="category : ${categories}">
                                    <div class="item">
                                        <div class="pretty p-svg p-curve">
                                            <input class="filter-checkbox check-category checkbox-mobile"
                                                   type="checkbox" th:value="${category.id}"/>
                                            <div class="state p-success">
                                                <svg class="svg svg-icon" viewbox="0 0 20 20">
                                                    <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                                                          style="stroke: white;fill:white;"></path>
                                                </svg>
                                                <label class="checkbox-label" th:text="${category.name}"></label>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                        <div class="break-line"></div>

                        <div class="size content">
                            <div class="title" data-toggle="collapse" href="#size-collapse-1" role="button"
                                 aria-expanded="false"
                                 aria-controls="size-collapse">
                                <div class="text">Size</div>
                                <i class="fas fa-chevron-up"></i>
                            </div>
                            <div class="select-filter collapse show" id="size-collapse-1">
                                <th:block th:each="size : ${sizeVn}">
                                    <div class="item check-size checkbox-mobile" th:data-id="${size}"
                                         th:text="${size.name}"></div>
                                </th:block>
                            </div>
                        </div>
                        <div class="break-line"></div>

                        <!-- Price -->
                        <div class="price-range content">
                            <div class="title">
                                <div class="text">Khoảng gi&aacute;</div>
                            </div>
                            <input class="form-control price-input" id="from-price-small" type="text" placeholder="Từ"
                                   onkeypress="return priceInputValidate(event)"/>
                            <input class="form-control price-input" id="to-price-small" type="text" placeholder="Đến"
                                   pattern="[0-9]" onkeypress="return priceInputValidate(event)"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="clear-filter btn btn-primary" disabled="disabled">Bỏ lọc</button>
                    <button class="btn btn-primary apply-price small red-btn" id="apply-price-mobile">Áp dụng</button>
                </div>
            </div>
        </div>
    </div>
</main>

</body>

</html>