<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<head>
    <title>Sản phẩm</title>
</head>

<body>

<main id="main-content">
    <!-- Breadcrumb -->
    <div class="breadcrumb container">
        <a class="previous-page" href="/">Trang chủ</a>
        <i class="fas fa-chevron-right arrow"></i>
        <span class="current-page">Sản phẩm</span>
    </div>
    <!-- Main content -->
    <div class="shop-content-wrapper container">
        <div class="row">
            <!-- Filter -->
            <div class="filter-bar col-lg-3">
                <div class="filter-header content">
                    <div class="left-side d-flex align-items-center"><i class="fas fa-sliders-h"></i>
                        <div class="text">Lọc</div>
                    </div>
                    <button class="clear-filter btn btn-primary" ng-click="clearFilters()" ng-disabled="!isAnyFilterSelected()">Bỏ lọc</button>
                </div>
                <div class="break-line"></div>

                <!-- Brand -->
                <div class="brand content">
                    <div class="title" data-toggle="collapse" href="#brand-collapse" role="button" aria-expanded="false"
                         aria-controls="brand-collapse">
                        <div class="text">Brand</div>
                        <i class="zmdi zmdi-chevron-up"></i>
                    </div>
                    <div class="select-filter collapse show" id="brand-collapse">
                        <div class="item" ng-repeat="brand in brands">
                            <div class="pretty p-svg p-curve">
                                <input class="filter-checkbox check-brand" type="checkbox"
                                       ng-model="selectedBrands[brand.name]" ng-change="filterProducts()"/>
                                <div class="state p-success">
                                    <svg class="svg svg-icon" viewbox="0 0 20 20">
                                        <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                                              style="stroke: white;fill:white;"></path>
                                    </svg>
                                    <label class="checkbox-label" ng-bind="brand.name"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="break-line"></div>

                <!-- Category -->
                <div class="category content">
                    <div class="title" data-toggle="collapse" href="#categories-collapse" role="button"
                         aria-expanded="false" aria-controls="categories-collapse">
                        <div class="text">Size</div>
                        <i class="zmdi zmdi-chevron-up"></i>
                    </div>
                    <div class="select-filter collapse show" id="categories-collapse">
                        <div class="item" ng-repeat="size in sizes">
                            <div class="pretty p-svg p-curve">
                                <input class="filter-checkbox check-category" type="checkbox"
                                       ng-model="selectedSizes[size.name]" ng-change="filterProducts()"/>
                                <div class="state p-success">
                                    <svg class="svg svg-icon" viewbox="0 0 20 20">
                                        <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                                              style="stroke: white;fill:white;"></path>
                                    </svg>
                                    <label class="checkbox-label" ng-bind="size.name"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="break-line"></div>

                <div class="size content">
                    <div class="title" data-toggle="collapse" href="#size-collapse" role="button" aria-expanded="false"
                         aria-controls="size-collapse">
                        <div class="text">Color</div>
                        <i class="zmdi zmdi-chevron-up"></i>
                    </div>
                    <div class="select-filter collapse show" id="size-collapse">
                        <div class="item check-size" ng-repeat="color in colors"
                             ng-class="{ 'size-choose': color.selected }">
                            <a href="javascript:void(0)" ng-bind="color.name" ng-click="onColorClick(color)"></a>
                        </div>
                    </div>
                </div>
                <div class="break-line"></div>

                <!-- Price -->
                <div class="price-range content">
                    <div class="title">
                        <div class="text">Khoảng gi&aacute;</div>
                    </div>
                    <input class="form-control price-input" ng-model="filterParams.minPrice" type="text"
                           placeholder="Từ"/>
                    <input class="form-control price-input" ng-model="filterParams.maxPrice" type="text"
                           placeholder="Đến" />
                    <button class="btn btn-primary red-btn" ng-click="applyPriceFilter()">Áp dụng</button>
                </div>
            </div>

            <!-- List product -->
            <div class="product-showing col-lg-9 col-12 ">
                <div class="sort">
                    <div class="sort-content" id="sortDropdownBtn">
                        Sắp xếp theo <span class="sort-name">Hàng mới</span><i class="zmdi zmdi-chevron-down"></i>
                        <div class="sort-dropdown" id="sortDropdown">
                            <div class="sort-item new-arrival active">Hàng mới</div>
                            <div class="sort-item best-seller">Bán chạy</div>
                            <div class="sort-item low-to-high-price" ng-click="sort('lowToHigh')">Giá thấp đến cao</div>
                            <div class="sort-item high-to-low-price" ng-click="sort('highToLow')">Giá cao đến thấp</div>
                        </div>
                    </div>
                    <div class="filter-icon" data-toggle="modal" data-target="#filterModal"><i class="fas fa-filter"></i></div>
                </div>

                <div class="no-products">
                    <img th:src="@{assetss/img/noresult.png}" alt="noresult.png">
                    <h4>Không tìm thấy sản phẩm phù hợp</h4>
                </div>
                <div class="row">
                    <div class="col-md-4" ng-repeat="p in items" >
                        <div class="product-item">
                            <div class="inner-content" >
                                <div class="product-thumb">
                                    <a href="/product/detail/{{ p.sanPham.ma }}" ng-click="searchDetail()">
                                        <img id="an" class="product-item m-auto d-block"
                                             ng-src="/assets/images/{{ p.sanPham.image[0].ma }}"
                                             alt="{{ p.sanPham.ten }}">
                                    </a>
                                    <div class="product-action" >
                                        <div class="addto-wrap">
                                            <a class="remove-wishlist" href=""
                                               title="Xóa khỏi yêu thích"
                                               ng-if="p.myFavorite === 1"
                                               ng-click="removeFavorite(p.sanPham.ma)"
                                               ng-class="{ 'fillColor': p.myFavorite === 1 }">
                                                <i class="zmdi zmdi-favorite"></i>
                                            </a>
                                            <a class="add-wishlist" href=""
                                               title="Thêm vào yêu thích"
                                               ng-if="p.myFavorite === 0"
                                               ng-click="addFavorite(p.sanPham.ma, user)">
                                                <i class="zmdi zmdi-favorite-outline"></i>
                                            </a>
                                            <a class="add-cart" ng-href="/product/detail/{{ p.sanPham.ma }}">
                                                <i class="zmdi zmdi-shopping-cart-plus icon"></i>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                                <div class="product-desc">
                                    <div class="product-info">
                                        <h4 class="title">
                                            <a href="/product/detail/{{ p.sanPham.ma }}"
                                               ng-click="searchDetail()">{{ p.sanPham.ten }}</a>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <div class="pagination-content-wrap border-bottom">
                            <nav class="pagination-nav">
                                <ul class="pagination justify-content-center">
                                    <li>
                                        <button class="prev" ng-click="pager.first()">First</button>
                                    </li>
                                    <li>
                                        <button class="prev" ng-click="pager.prev()">
                                            <i class="fa fa-chevron-left"></i>
                                        </button>
                                    </li>
                                    <li ng-repeat="page in pager.pages">
                                        <button ng-click="pager.setPage(page)">
                                            {{page}}
                                        </button>
                                    </li>
                                    <li>
                                        <button class="next" ng-click="pager.next()">
                                            <i class="fa fa-chevron-right"></i>
                                        </button>
                                    </li>
                                    <li>
                                        <button class="next" ng-click="pager.last()">Last</button>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
            </div>
        </div>
    </div>
</main>


</body>

</html>